script(src='javascripts/index.js')
center
  div#logo
    img(src='images/test.png')
  div#box
    h1 Welcome to 'Insert Name Here'!
    h2 Today's Announcements
    ul#announcements
p#stop-it Stop animation
