:javascript
  | window.onload = function() {
  |   var s = new io.Socket(null, {port: 3000});
  |   var paper = Raphael(10,50,320,200);
  |   paper.rect(0,0,20,20);
  |    
  |   s.connect();
  |   s.on('message', function(data) {
  |     $("#announcements").append("<div>" + data + "</div>");
  |   });
  | };

h1= title
p Hello, world
#logo
  h2 logo goes here
#announcements
  h2 announcements go here
