!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='javascripts/raphael.js')
    script(src='http://cdn.socket.io/stable/socket.io.js')

  body!= body
