html { 
  overflow-y: hidden;
  overflow-x: hidden;
 }
 
body {
  font: 14px "Trebuchet MS",Helvetica,sans-serif;
}

body {
  background-color: #1A1239;
  color: #FFFFFF;
}

body div {
  width: 720px;
}

h1 {
  font-size: 65px;
  width: 100%;
}

h2 {
  font-size: 18px;
}

textarea {
  height: 100px;
  width: 600px;
  font-size: 24px;
}

#logo {
  padding-top: 100px;
  padding-bottom: 100px;
}

#announcement-list li {
  list-style: none;
}

#announcements li {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
}

#announcements {
  font-size: 22px;
  text-align: justify;
  text-justify: newspaper;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-left: 0;
  padding-left: 0;
  width: 90%;
}

#box {
  background-color: #379247;
  border-radius: 15px;
  padding-top: 5px;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#gfx {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
